@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';

@source './node_modules/heroui-native/lib';

:root {
  --background: 255 255 255;
  --foreground: 24 24 27; /* zinc-900 */
  
  --content1: 255 255 255;
  --content1-foreground: 24 24 27;

  --primary: 198 255 0; /* Electric Lime #C6FF00 */
  --primary-foreground: 10 10 10; /* Deep Obsidian */

  --obsidian: 10 10 10;
  --lime: 198 255 0;

  --default-100: 244 244 245; /* zinc-100 */
  --default-200: 228 228 231; /* zinc-200 */
  --default-500: 113 113 122; /* zinc-500 */
}

.dark {
  --background: 10 10 10; /* Deep Obsidian */
  --foreground: 255 255 255;

  --content1: 24 24 27; /* zinc-900 */
  --content1-foreground: 255 255 255;

  --primary: 198 255 0; /* Electric Lime */
  --primary-foreground: 10 10 10;

  --default-100: 39 39 42; /* zinc-800 */
  --default-200: 63 63 70; /* zinc-700 */
  --default-500: 161 161 170; /* zinc-400 */
}